.l-sns {
  @include clearfix;

  opacity: 1;
  transition: all .7s $easeOutCubic;
  position: absolute;
  top: 30px;
  right: 35px;
  z-index: 50;

  &.is-show{
    opacity: 0;
  }

  ul{
    display: flex;
    justify-content: flex-end;

    li {
      margin-left: 10px;

      a{
        color: $color-main;
        font-weight: bold;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

}
