.l-sns {
  @include clearfix;

  opacity: 1;
  position: absolute;
  top: 30px;
  right: 35px;
  z-index: 3000;
  transform: translateY(-100px);
  transition: all 1s $easeOutCubic;

  &.is-show{
    opacity: 1;
    transform: translateY(0);
  }

  ul{
    display: flex;
    justify-content: flex-end;

    li {
      margin-left: 10px;

      a{
        color: $color-main;
        font-weight: bold;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

}
