.l-sponsership {
  padding: 70px 0 100px;
  position: relative;
  background: #f5f5f5 url(../img/bg/bg.png) 0 0 repeat;
  background-size: 100px 100px;
}

.l-sponsership__heading {
  margin: 0 0 60px;
  @include font-size(32);
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.1em;

  &::after {
    content: 'Sponsorship';
    display: block;
    text-align: center;
    font-family: $font-en;
    @include font-size(13);
    letter-spacing: 0.15em;
  }
}

%l-sponsership__sponsers {
  text-align: center;

  > dt {
    display: inline-block;
    min-width: 180px;
    position: relative;
    @include font-size(22);
    line-height: 28px;
    font-weight: 700;
    vertical-align: top;
    letter-spacing: 0.1em;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      width: 8px;
      height: 28px;
      background-position: 0 0;
      background-repeat: no-repeat;
    }

    &::before {
      left: 0;
      background-image: url(../img/bg/brace_left.png);
    }

    &::after {
      right: 0;
      background-image: url(../img/bg/brace_right.png);
    }
  }
}

.l-sponsership__sponsers--special {
  @extend %l-sponsership__sponsers;

  > dt {
    margin-bottom: 50px;
  }
}

.l-sponsership__sponsers {
  @extend %l-sponsership__sponsers;

  > dt {
    margin-bottom: 30px;
  }
}

.l-sponsership__logos {
  margin: -30px -15px 80px;
  font-size: 0;
  text-align: center;
  @include clearfix;

  > li {
    display: inline-block;
    padding: 30px 15px 0;

    transition: 
      opacity 0.4s linear,
      transform 0.8s $easeOutExpo;
    opacity: 0;
    transform: translate3d(0, 40px, 0);

    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        transition-delay: ($i * 0.1s);
      }
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  &.is-animated {
    > li {
      opacity: 1;
      transform: translate3d(0, 0, 0);  
    }
  }
}

.l-sponsership__names {
  display: flex;
  flex-wrap: wrap;
  margin: -30px 0 0;

  > li {
    width: (100% / 3);
    padding: 30px 0 0;
    text-align: center;
  }
}

.l-sponsership__credit {
  margin: 100px 0 0;
  padding: 35px 0;
  border-top: 1px solid $color-gray01;
  border-bottom: 1px solid $color-gray01;
  text-align: center;
}

.l-sponsership__description {
  display: inline-block;
  text-align: left;
  @include font-size(16);

  > dt {
    padding: 0 21px 0 0;
    float: left;
    position: relative;
    font-weight: 700;

    &::before {
      content: '';
      width: 2px;
      height: 18px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background: #c0c0c0;
    }
  }

  > dd {
    padding: 0 0 0 75px;

    &:not(:last-of-type) {
      margin-bottom: 30px;
    }
  }
}

.is-sp {
  .l-sponsership__item--1of3 {
    width: (100% / 3);
    float: left;
  }
}