$color-main:      #6ab840;
$color-secondary: #56a62b;
$color-black:     #303030;
$color-gray01:    #808080;
$color-gray02:    #909090;
$color-gray03:    #999999;
$color-gray04:    #e8e8e8;
$color-white:     #ffffff;
$color-facebook:  #315096;
$color-twitter:   #55acee;